*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}
body{
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
header, footer {
    height: 100px;
    background-color: #060606;
    color: white; 
    display: flex;
    align-content: center;
}
main {
    flex: 1;
    overflow: hidden;
    position: relative;
}
.container{
    width: 75%;
    margin: auto;
}
.navbar_main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo_text{
    color: white;
    text-decoration: none;
}
#logo_text:visited{
    color: white;
    text-decoration: none;
}
#logo_text> h3{
    font-size: 25px;
    cursor: pointer;
    font-weight: 500;
}
#mobile_menu{
    display: none;
}
.hamburger{
    font-size: 36px !important;
}
#nav_links > li{
    display: inline;
}
#nav_links > li> a{
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
#nav_links > li> a:hover{
    color: black;
    background-color: white;
    
}
#hero_section {
    height: 100%;
    width: 100%;
    position: relative;
}
#hero_img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#hero_section::before {
    content: "";
    background: #000;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
}
.hero_details{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.hero_details> h2{
   color: #fff;
   font-weight: 600;
   font-size: 30px;
}
#open_popup{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 4px 18px;
    cursor: pointer;
    margin: 10px 0px;
}
#open_popup:hover{
    background-color: white;
    border: 2px solid black;
    color: black;
}
#info_Btn{
    border: 2px solid #E8E8E8;
    color: white;
    font-weight: 500;
    padding: 5px 16px;
    border-radius: 8px;
    background-color: transparent;
}
#info_Btn:hover{
    border: 2px solid #E8E8E8;
    color: black;
    background-color: white;
}
.hero_popUP {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    background-color: white;
    text-align: center;
    padding: 10px 30px 20px;
    border-radius: 6px;
    width: 25%;
    visibility: hidden;
    transition: transform 0.2s, top 0.2s;
    z-index: 1000;
}
.hero_popUP h1{
    font-size: 30px;
    padding-bottom: 15px;
    padding-top: 10px;
}
.pop_Active {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.hero_popUP img{
    width: 50px;
    position: absolute;
}
#close_popup{
    width: 100%;
    padding: 5px 0px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: black;
    color: white;
    border: 2px solid black;
}
#close_popup:hover{
    border: 2px solid black;
    background-color: white;
    color: #000;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
#footer_main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media only screen and (max-width:1280px){
    .container{
        width: 90%;
    }
    .hero_popUP{
        width: 35%;
    }
}
@media only screen and (max-width:1024px){
    .navbar_main nav{
        display: none;
    }
    .hero_popUP{
        width: 40%;
    }
    #mobile_menu{
        padding-top: 5px;
        display: block;
        cursor: pointer;
    }
    .hero_details h2{
        font-size: 28px;
        padding-bottom: 10px;
    }
}
@media only screen and (max-width:767px){
    .hero_popUP{
        width: 60%;
    }
}
@media only screen and (max-width:640px){
    .hero_details> h2{
        font-size: 25px;
    }
}